body {
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
}


div {
    display: block;
}

p {
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}

@media screen and (max-width: 479px) {
    .header-bann.sa {
        height: 500px;
        margin: 0;

    }
}

@media screen and (max-width: 767px) {
    .banner.sa {
        background-size: auto, cover;
    }
}

@media screen and (max-width: 991px) {
    .banner.sa {
        height: 800px;
    }
}

.header-bann {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85vh;
    padding-right: 0%;
    padding-left: 4%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    margin: 25px;

}

.head-1 {

    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;

    display: flex;
    width: 95%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
    padding-left: 0%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.head-1a {

    background: #fff;
    z-index: 1000;
}

@media screen and (max-width: 991px) {
    .logo {
        height: 60px;
    }
}

.logo {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background-color: #e47312;
}

.logo1 {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.logoimg {

    max-width: 100%;
    vertical-align: middle;
    display: inline-block;



}

@media screen and (max-width: 991px) {
    .navigation {
        width: 100%;
        margin-top: 0%;
    }
}

.navigation {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
    padding-left: 0%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.w-nav {


    background: #dddddd;
    z-index: 1000;
}

@media screen and (max-width: 991px) {
    .w-nav-menu {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        margin-top: 60px;
        width: 100%;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: .4s linear;
    }
}

@media screen and (max-width: 991px) {
    .nav-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        align-items: start;
    }
}

.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.w-nav-menu {
    position: relative;
    float: right;

}

@media screen and (max-width: 991px) {
    .nav-link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.nav-link.w--current:hover {
    color: #e47312;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 31px 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #414147;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .navtext {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.navtext {
    position: relative;
    z-index: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #fff;
}

.arrow-image {
    position: relative;
    z-index: 1;
    width: 6px;
    margin-left: 7px;
}

.imgarr {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .menu-button.se {
        height: 60px;
        width: 0px;
        background-color: white;
        z-index: -1;
        margin: 0;
    }
}

@media screen and (max-width: 991px) {
    .w-nav-button.se {
        display: block;
        height: 60px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 991px) {
    .hamburger-line.ve {
        left: 30px;
        top: 50%;
        right: 0;
        width: 30px;
    }
}
.hamburger-line:last-of-type {
    transform: translate(-50%, 9px);
}
.hamburger-line:first-of-type {
    transform: translate(-50%, 0px);
}

.hamburger-line {
    transition: .2s;
}

.hamburger-line {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    width: 50%;
    height: 2px;
    background-color: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 991px) {
    .w-nav-menu .free-quote {
        width: 100%;
        text-align: center;
    }
}

.info-wrapper {
    height: 43%;
    margin-left: 20px;
    padding: 34px 28px 31px;
    background-color: #e47312;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.text-block {
    line-height: 16px;
    margin-top: 10px;
}

@media screen and (max-width: 479px) {
    .features-wrapper.na {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .features-wrapper.na {
        padding-right: 0px;
        left:0px;
    }
}
@media screen and (max-width: 1300px){
.features-wrapper.na {
    right: auto;
    bottom: 0px;
    width: 100%;
    padding-right: 22px;
    padding-left: 0px;
    left: 10px;
}}
@media screen and (max-width: 991px) {
    .features-wrapper.na {
        right: auto;
        bottom: 0px;
        width: 100%;
        padding-right: 22px;
        padding-left: 0px;
        left:10px;
    }
}

.features-wrapper {
    position: absolute;
    left: 375px;
    top: 500px;
    right: 0;
    bottom: -83px;
    height: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1010px;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    box-sizing: border-box;

}

.infos-flex {
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.info-child.horizontal {
    margin-bottom: 15px;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .info-child {
        padding-top: 0px;
        padding-right: 18px;
        padding-left: 18px;
        text-align: center;
    }
}

.info-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.info-image.left {
    width: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.info-image {
    width: 24px;
    margin-bottom: 15px;

    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.phone-text {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.paragraph-white {
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
}

.p1 {
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.navlink.for-button.blue.white.for-footer.w-inline-block {
    position: relative;
}

.navlink.for-button.blue.white.w-inline-block {
    position: relative;
}

.navlink.for-button.blue.white {
    color: #fff;
}

.navlink.for-button.blue.w-inline-block {
    position: relative;
}

.navlink.for-button.blue {
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navlink.for-button {
    position: relative;
}

.navlink.for-button {
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    color: #fff;
}

.navlink {
    overflow: hidden;
    margin-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #121217;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 479px) {
    .social-vertical.fg {
        left: auto;
        top: 350px;
        right: 0%;
        bottom: 0%;
    }
}

@media screen and (max-width: 767px) {
    .social-vertical {
        bottom: 240px;
    }
}

@media screen and (max-width: 991px) {
    .social-vertical {
        bottom: 227px;
    }
}

.social-vertical {
    position: absolute;
    top: 300px;
    right: 0%;

    bottom: 143px;
    height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #0a1229;
    box-sizing: border-box;
}

.social-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 50px;
    float: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}

.dropdown-list:hover {
    background-color: #fff;
}

.w-dropdown-list {
    position: absolute;
    background: #dddddd;
    display: none;
    min-width: 100%;
}

.team-photo2 {
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-photo3 {
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-photo4 {
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.w-col-4 {
    width: 33.33333333%;

}

.w-dropdown-link {
    padding: 10px 20px;
    display: block;
    color: #222222;
}

.w-dropdown-toggle,
.w-dropdown-link {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

@media screen and (max-width: 745px) {
    .container4.in-banner {
        margin-top: 40px;
        padding-right: 35px;
        margin-right: 0;
        margin-left: 20px;


    }
}

/* @media screen and (max-width: 991px) {
    .container4.in-banner {
        margin-top: -150px; 
    }
}  */

@media screen and (max-width: 479px) {
    .container42.in-banner {
        margin-top: 24px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 991px) {
    .container42.in-banner {
        margin-top: -150px;
    }
}

@media screen and (max-width: 479px) {
    .container.in-banner {
        margin-top: 24px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 991px) {
    .container.in-banner {
        margin-top: -150px;
    }
}



@media screen and (max-width: 479px) {
    .containerse.in-banner.b {
        margin-top: 24px;
        padding-right: 35px;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .containerse.in-banner.b {
        margin-top: -150px;
    }
}

@media screen and (max-width: 479px) {
    .container1.in-banner {
        margin-top: 24px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 991px) {
    .container1.in-banner {
        margin-top: -150px;
    }
}

@media screen and (max-width: 479px) {
    .w-containerse {
        max-width: none;
    }
}

@media screen and (max-width: 991px) {
    .w-containerse {
        max-width: 728px;
    }
}
@media screen and (max-width: 479px) {
    .w-containerse.kl {
        max-width: none;
    }
}

@media screen and (max-width: 991px) {
    .w-containerse.kl {
        max-width: 728px;
    }
}
@media screen and (max-width: 479px) {
    .w-containerse1.kl {
        max-width: none;
    }
}

@media screen and (max-width: 991px) {
    .w-containerse1.kl {
        max-width: 728px;
    }
}
@media screen and (max-width: 767px) {

    .w-row,
    .w-container .w-row.aq {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 479px) {
    .containerpa.in-banner.b {
        margin-top: 24px;
        padding-right: 35px;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .containerpa.in-banner.b {
        margin-top: -150px;
    }
}
@media screen and (max-width: 479px) {
    .cont12.sa {
        margin-top: 24px;
        padding-right: 35px;
        display: block;
    }
}
@media screen and (max-width: 779px){
.cont12.sa {
    margin-top: 24px;
    padding-right: 35px;
    display: block;
}}

@media screen and (max-width: 991px) {
    .conta12.sa {
        margin-top: -150px;
    }
}
@media screen and (max-width: 991px) {
    .marg1.sa1 {
        margin-top: 1300px;
    }
}
@media screen and (max-width: 479px){


.w-container.la {
    max-width: none;
}}
@media screen and (max-width: 991px){
.w-container.la {
    max-width: 728px;
}}
.marg1{
    margin-top:15%;
}
.cont12{
    display: flex;
}
@media screen and (max-width: 991px) {
    .dis3.mn {
       display: block;
    }
}
.dis3{
    display: flex;
}
.container4 {
    max-width: 1200px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: none;
}

.w-container4 {
    margin-left: 10px;
    margin-right: 300px;
    max-width: 950px;
    margin-top: 50px;
}

.container42 {
    max-width: 1200px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: none;
}

.w-container42 {
    margin-left: auto;
    margin-right: 30px;
    max-width: 100%;
    margin-top: 15px;
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-container:after {
    clear: both;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

@media screen and (max-width: 479px) {
    .w-col {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .w-col {
        width: 100%;
        left: auto;
        right: auto;
    }
}

@media screen and (max-width: 991px) {
    .w-col-stack {
        width: 100%;
        left: auto;
        right: auto;
    }
}

@media screen and (max-width: 479px) {
    .w-colj {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .w-colj {
        width: 100%;
        left: auto;
        right: auto;
    }
}

@media screen and (max-width: 479px) {
    .w-colj1.ch {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .w-colj1.ch {
        width: 100%;
        left: auto;
        right: auto;
       top:20px;
       
    }
}
@media screen and (max-width: 479px) {
    .w-colj1.ch2 {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .w-colj1.ch2 {
        width: 100%;
        left: auto;
        right: auto;
       
    }
}
@media screen and (max-width: 991px) {
    .w-colj-stack {
        width: 100%;
        left: auto;
        right: auto;
    }
}
@media screen and (max-width: 479px) {
    .w-colj.cx {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .w-colj.cx {
        width: 100%;
        left: auto;
        right: auto;
        top:40px;
        
    }
}
@media screen and (max-width: 479px) {
    .w-colpa.a {
        width: 100%;

    }
}

@media screen and (max-width: 767px) {
    .w-colpa.a {
        width: 100%;
        left: auto;
        right: auto;
    }
}

@media screen and (max-width: 991px) {
    .w-colpa-stack {
        width: 100%;
        left: auto;
        right: auto;
    }
}

.w-col-7 {
    width: 58.33333333%;
}

.w-col-72 {
    width: 50.33333333%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-row:before,
.w-row:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    .top-title.on-banner.pa {
        font-size: 40px;
        line-height: 42px;
    }
}

@media screen and (max-width: 767px) {
    .top-title.on-banner {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 991px) {
    .top-title.on-banner {
        font-size: 50px;
        line-height: 60px;
    }
}

@media screen and (max-width: 479px) {
    .top-title.pe {
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 767px) {
    .top-title.pe {
        font-size: 26px;
        line-height: 30px;
    }
}

@media screen and (max-width: 991px) {
    .top-title.pe {
        font-size: 25px;
        line-height: 40px;
    }
}
@media screen and (max-width: 767px){
.top-title-wrapper.add-20-right {
    padding-right: 0px;
}}
@media screen and (max-width: 991px){
.top-title-wrapper.add-20-right {
    padding-right: 20px;
}}
@media screen and (max-width: 479px){
.topwh-title.absolute.mz {
    display: none;
}}
@media screen and (max-width: 767px){
.topwh-title.absolute.mz {
    font-size: 60px;
}}
@media screen and (max-width: 479px){
    .topwh5-title.absolute.mz1 {
        display: none;
    }}
    @media screen and (max-width: 767px){
    .topwh5-title.absolute.mz1 {
        font-size: 60px;
    }}
@media screen and (max-width: 991px){
.topwh-title.absolute.mz {
    left: -7px;
    font-size: 80px;
}}
.top-title.on-banner {
    color: #fff;
    font-size: 62px;
    line-height: 20px;

}
@media screen and (max-width: 479px) {
    .top-title.white.pe1 {
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 767px) {
    .top-title.white.pe1 {
        font-size: 26px;
        line-height: 30px;
    }
}

@media screen and (max-width: 991px) {
    .top-title.white.pe1 {
        font-size: 25px;
        line-height: 40px;
    }
}
.top-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.top-title h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 600;
    text-transform: uppercase;
}

.top-title h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}

.top-title h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

.top-title h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.paragraph-white.bigger.normal {
    font-weight: 400;
}

.paragraph-white.bigger {
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}

.paragraph-white {
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.btop-margin.half.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}

.btop-margin.half {
    margin-top: 25px;
}

.btop-margin {
    margin-top: 60px;
}

.qbutton.full.not-full {
    width: 100px;
    font-size: 12px;

}

.qbutton.full {
    display: block;
    width: 100%;
    border-radius: 0px;
    background-color: #e47312;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.qbutton {
    display: inline-block;
    min-width: 160px;
    padding: 15px 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #fc493e;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

}

.w-qbutton {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;

}

.colorback {
    background-color: transparent;
}

.section.add-5-percent {
    padding-top: 15%;
    padding-bottom: 5%;
}

.section {
    padding: 10% 5%;
}

.containerse {
    max-width: 1200px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.w-containerse {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.w-containerse:before,
.w-containerse:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    .top-title-wrapper.sa {
        margin-bottom: 15%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
@media screen and (max-width: 479px) {
    .top9-title-wrapper.sa {
        margin-bottom: 15%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.top-title-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: 479px) {
    .top-title2.absolute {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .top-title2.absolute {
        font-size: 60px;
    }
}

@media screen and (max-width: 991px) {
    .top-title2.absolute {
        left: -7px;
        font-size: 80px;
    }
}
@media screen and (max-width: 479px) {
    .topt-title.absolute.bc {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .topt-title.absolute.bc {
        font-size: 60px;
    }
}

@media screen and (max-width: 991px) {
    .topt-title.absolute.bc {
        left: -7px;
        font-size: 80px;
    }
}
@media screen and (max-width: 479px){
.container4.in-banner {
    margin-top: 75px;
    padding-right: 35px;
    margin-right: 0;
    margin-left: 10px;
}}
@media screen and (max-width: 279px){
.top-title.on-banner.pa {
    font-size: 20px;
    line-height: 42px;
}}
.top-title2.absolute {
    position: absolute;
    left: -53px;
    top: -70px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navlink4.for-button.blue._0 {
    margin-top: 0px;
}

.navlink4.for-button.blue.w-inline-block {
    position: relative;
}

.navlink4.for-button.blue {
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navlink4.for-button {
    position: relative;
}

.navlink4.for-button {
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    color: #fff;
}

.navlink4 {
    overflow: hidden;
    margin-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #121217;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.navlink.for-button.blue.w-inline-block::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: .2s;
}

.navlink.for-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    z-index: 100;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: .2s;
}

.w-containerpa .w-row3 {
    margin-left: -10px;
    margin-right: -10px;
    display: block;
    
}

@media screen and (max-width: 767px) {

    .w-row,
    .w-container .w-row {
        margin-left: 0;
        margin-right: 0;
    }
}

.w-row3:before,
.w-row3:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-colpa-3 {
    width: 25%;
}

.w-colpa {
    position: relative;
    float: left;
    width: auto;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;

}

@media screen and (max-width: 767px) {
    .service1-content.za {
        margin-bottom: 40px;
    }
}

.service1-content {
    margin-bottom: 5%;
    padding-right: 5%;
}

.features-icon4 {
    margin-bottom: 20px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.service4-title {
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navlink6.for-button.blue.w-inline-block {
    position: relative;
}

.navlink6.for-button.blue {
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navlink6.for-button {
    position: relative;
}

.navlink6.for-button {
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    color: #fff;
}

.navlink.for-button.blue.white {
    color: #fff;
}

.navlink.for-button.blue.white.w-inline-block {
    position: relative;
}

.navlink6 {
    overflow: hidden;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #121217;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
}

.navlink6.for-button.blue.w-inline-block::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: .2s;
}

.navlink6.for-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    z-index: 100;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: .2s;
}

@media screen and (max-width: 400px){
.marg1.sa1 {
    margin-top: 1500px;
}}
.w-container .w-row5 {
    margin-left: -10px;
    margin-right: -10px;
}
@media screen and (max-width: 467px) {
    .row5-flex.verical.mz {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media screen and (max-width: 767px) {
    .row5-flex.verical.mz {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media screen and (max-width: 991px) {
    .row5-flex.verical.mz {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.margi43{
margin-top:50% ;
}
.margi45{
    margin-top:15% ;
}
@media screen and (max-width: 991px){
    .margi45.bvc{
        margin-top:5% ;
    } 
}
@media screen and (max-width: 991px){
.row5-flex.verical.mz {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}}
.row5-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.w-row5:before,
.w-row5:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-colj-61 {
    width: 50%;

}

@media screen and (max-width: 767px) {
    .w-colj-6 {
        width: 100%;
        left: auto;
        right: auto;

    }
}

.padno {
    padding-left: 100px;
}

@media screen and (max-width:1000px) {
    .padno {
        padding: 0%;
        margin: 0%;
        width: 90%;
    }
}

.w-colj-6 {
    width: 50%;
}

.w-colj {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-colj-56 {
    width: 55.66666667%;
}

.imgser {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 750px
}

.top9-title-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width: 479px) {
    .topwh-title.pe1 {
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 767px) {
    .topwh-title.pe1 {
        font-size: 26px;
        line-height: 30px;
    }
}

@media screen and (max-width: 991px) {
    .topwh-title.pe1 {
        font-size: 25px;
        line-height: 40px;
    }
}
.topwh-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.topwh5-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.h12 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.topwh-title.absolute {
    position: absolute;
    left: -35px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
}

.topwh5-title.absolute {
    position: absolute;
    left: -35px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 100px;
    letter-spacing: 11px;
}
@media screen and (max-width:767px) {
    .ro1{
display: block;
    }  
}


.pwh {
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}

.fun1-text {
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
}
@media screen and (max-width: 767px){
.section.gray.small.ds {
    padding-top: 11%;
    padding-right: 5%;
    padding-left: 5%;
}}
.section.gray.small {
    padding: 8% 0% 20px 20px;
}

.section.gray {
    background-color: #f7f8fc;
}

.topwh-title.absolute._75-percent {
    color: rgba(241, 241, 247, 0.75);
}

.w-clearfix:before,
.w-clearfix:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-clearfix:after {
    clear: both;
}

.collection-item {
    padding-right: 0px;
    padding-left: 0px;
}
@media screen and (max-width: 767px){
.project-wrapper {
    padding-right: 0px;
}}
@media screen and (max-width: 479px){
.w-colj1.lm {
    width: 100%;
}}
@media screen and (max-width: 767px){
.w-colj1.lm {
    width: 100%;
    left: auto;
    right: auto;
    display: block;
}}
.project-wrapper {
    padding-top: 20px;
    padding-right: 20px;
    float: left;

}

.project-content {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .2s;
    opacity: 0;
}
.project-overlay:hover{
    opacity: 100%;
    transition: .2s;
    display:flex;
}

.project-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 90px;
    padding-right: 11px;
    padding-left: 11px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.section.color {
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);

    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

.top-title-wrapper.center.vertical {
    margin-bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top-title-wrapper.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-title.white {
    color: #fff;
}

.w-col-3 {
    width: 23%;
}

.team-wrapper {
    position: relative;
    width: 95%;
}

.team-photo1 {
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-content {
    padding: 29px 66px 29px 29px;
    background-color: #fff;
}

.service-title.team {
    line-height: 20px;
}

.service-title {
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.job-title {
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
}

.social-vertical.horizontal {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #e47312;
}

.w-colj1-4 {
    width: 33.33333333%;
}

.w-colj1 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.containerse1 {
    max-width: 1200px;

}

.w-containerse1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.topt-title.absolute._75-percent {
    color: rgba(241, 241, 247, 0.75);
}

.topt-title.absolute {
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
}

.topt-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.padding1-right.left {
    padding-right: 0px;
    padding-left: 0px;
}

.padding1-right {
    padding-left: 100px;
}

.w-col .w-col {
    padding-left: 0;
    padding-right: 0;
}

.testimonials-wrapper {
    position: relative;
    display: block;
    width: 70%;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
}

.testimonials-photo {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}

.text1-block-2 {
    padding-top: 12px;
}

.testi-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

.testimonial-paragraph {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
}

.testimonials-wrapper.no-margin {
    margin-bottom: 0px;
}

.testimonials-wrapper.move-down {
    margin-top: 151px;
}
@media screen and (max-width: 767px){
.blog-wrapper.mhg {
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}}
.blog-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
    text-decoration: none;
}

.blog-image {
    position: relative;
    background-color: #5c5c5c;
}

.meta1-tag {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
}

.meta1-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 70px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: linear-gradient(45deg, #ff6361, #e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
}

.meta1-month {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@media screen and (max-width: 991px){
.blog1-content.bcx {
    padding-right: 23px;
}}
.blog1-content {
    width: auto;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
}

.top-title.smaller-white.blog {
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
}

.top-title.smaller-white.in-footer {
    margin-bottom: 30px;
    padding-right: 14px;
    background-color: #0a1229;
}
@media screen and (max-width: 767px){
.top-title.smaller-white.no-width.ml {
    margin-bottom: 10px;
}}
@media screen and (max-width: 991px){
.top-title.smaller-white.no-width.ml {
    display: block;
}}

.top-title.smaller-white {
    margin-right: 60px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

.section {
    padding: 10% 5%;
}
@media screen and (max-width: 479px){
.section.logo.vc2 {
    padding-top: 15%;
}}
@media screen and (max-width: 991px){
.section.logo.vc2 {
    padding-top: 5%;
    padding-bottom: 2%;
    width: 85%;
    height: 200px;
    display: block;
}}
.section.logo {
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
    width: 89%;
}

.algin-center {
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.top-title.smaller-white.no-width {

    margin-right: 0px;
    width: 400px;
}
@media screen and (max-width: 767px){
.logo-flex.bl {
  display: block;
  align-content: center;
  height: 90%;
  /* -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
 */
}}
   

.logo-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}
@media screen and (max-width: 479px){
.tab1-logo.xv {
    width: 100%;
}}
@media screen and (max-width: 991px){
.tab1-logo.xv {
    width: 30.333%;
    min-height: 70px;
    margin: 0%;
}}

.tab1-logo {
    width: 10%;
    min-height: 100px;
    /* background-color: transparent; */
    /* background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png); */
    background-position: 50% 50%;
    background-size: 50px;
    background-repeat: no-repeat;
    /* -webkit-transition: all 400ms ease;
    transition: all 400ms ease; */
    text-align: center;
    margin: 60px 10px 10px 60px;
}

.tab1-logo.logo-5 {
    /* background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png); */
    background-size: 50px;
    margin: 60px 10px 10px 60px;
}

.tab1-logo.logo-2 {
    /* background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png); */
    background-size: 50px;
    margin: 60px 10px 10px 60px;
}

.tab1-logo.logo-3 {
    /* background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png); */
    background-size: 50px;
    margin: 60px 10px 10px 60px;
}

.tab1-logo.logo-4 {
    /* background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-4w.png); */
    background-size: 50px;
    margin: 60px 10px 10px 60px;
}
@media screen and (max-width: 379px){
.footer.nm {
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    height: 1800px;
}}
@media screen and (max-width: 767px){
.footer.nm {
    padding-bottom: 0px;
}}
@media screen and (max-width: 991px){
.footer.nm {
    width: 85%;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
    height: 1000px;
    margin-top: 260px;
    margin-right: auto;
    margin-left: auto;
}}
.footer {
    position: relative;
    z-index: 1;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
    height: 450px;
}

.with-line {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-column{
padding-right: 0;
}
@media screen and (max-width: 767px){
.footer-column.bf {
    margin-bottom: 39px;
    padding-right: 0%;
    
}}
.line1 {
    position: absolute;
    left: 0%;
    top: 8px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 1px;
    background-color: #ff6361;
}

.paragraph-white._100 {
    color: #fff;
}

.phone-text {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media screen and (max-width: 967px){
    .copyright-margin.lj {
        margin-top: 700px;
    }}
@media screen and (max-width: 767px){
.copyright-margin.lj {
    margin-top: 750px;
}}
@media screen and (max-width: 450px){
.copyright-margin.lj {
    margin-top: 730px;
}}
@media screen and (max-width: 360px){
    .copyright-margin.lj {
        margin-top: 900px;
    }}
@media screen and (max-width: 250px){
    .copyright-margin.lj {
        margin-top: 750px;
    }}
.copyright-margin {
    margin-top: 125px;
}

.brand.normal {
    position: relative;
}

.brand {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background-color: #e47312;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}